{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Welcome back {{ app.user.username }} ! <br><br>

    <a href="/profile/show/{{ app.user.username|lower }}">See Profile</a><br>
    <a href="/logout">Logout</a>
    <div>
        <h2>Lastest Video:</h2>
        {% for item in videos %}
            <a href="/video/show/{{ item.youtubeId }}"><img src="{{ item.preview }}"></a>
            Posted By <a href="/profile/show/{{ item.username|lower }}">{{ item.username }}</a>
        {% endfor %}
    </div>
{% else %}
    Hello Anonymous ! You're a new to our website ? Please <a href="/register">Sign Up For Free!</a><br>
    If you already have an account, please <a href="/login">Sign In</a>, we would love to have you back !
{% endif %}
