
{% extends 'UserBundle:Base:homepage.html.twig' %}

{% block container %}
        {{ errors }}
            <div class="videoList">
                <ul>
                    {% for item in videos %}
                    <li>
                        <h4>{{ item.name }}</h4>
                        <a href="/video/show/{{ item.youtubeId }}">
                            <img src="{{ item.preview }}" alt="{{ item.name }}">
                        </a>
                        <br><br>
                        Posted By <a href="/profile/show/{{ item.username|lower }}">{{ item.username }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div><br>
{% endblock %}




