{% extends 'UserBundle:Base:homepage.html.twig' %}

    {% block container %}
        <div class="video center">
                <h2>{{ videoPage.title }}</h2>

                <iframe src="{{ videoPage.url }}" allowfullscreen></iframe>

                <div class="description">
                    <h3>Description:</h3>
                    <p>{{ videoPage.description }}</p>
                </div>

                <div class="userVideo">
                    <p>Posted By <span class="author"><a href="/profile/show/{{ videoPage.authorName|lower }}">{{ videoPage.authorName }}</a></span></p>
                </div>

                <div class="comment">
                    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': videoPage.id } %}
                </div>
        </div>
    {% endblock %}



