<!DOCTYPE html>
<html lang="en">
{% include 'UserBundle:Base:head.html.twig' %}
<body>

    <h1>{{ videoPage.title }}</h1>

    <iframe width="560" height="315" src="{{ videoPage.url }}" frameborder="0" allowfullscreen></iframe>

    <div>
        <p>{{ videoPage.description }}</p>
    </div>

    <div>
        <p>Posted By <a href="/profile/show/{{ videoPage.authorName|lower }}">{{ videoPage.authorName }}</p></a>
    </div>

    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': videoPage.id } %}

    {% include 'UserBundle:Base:footer.html.twig' %}

</body>
</html>




