{% trans_default_domain 'FOSUserBundle' %}
{% extends 'UserBundle:Base:homepage.html.twig' %}

{% block container %}


    <div class="profilBlock">
        <div class="profilForm">


            {{ form_start(form, {'attr': {'class': 'formEdit'}}) }}

            {{ form_widget(form) }}
            <div>
                <input type="submit" class="buttonEdit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
            {{ form_end(form) }}

            <a href="/profile/show/{{ app.user.username|lower }}">Return to Profile</a>

        </div>

    </div>

{% endblock %}